<div class="card-header">
  <h2>Добавление товара</h2>
</div>
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #productForm="ngForm">
      <div class="form-group col-md-3">
        <label for="name">Название товара</label>
        <input type="text" [(ngModel)]="product.name" class="form-control" id="name" name="name"
               placeholder="Введите название товара" required #name="ngModel">
        <div [hidden]="!name.invalid || name.untouched" class="alert alert-danger">
          Нужно ввести название!
        </div>
      </div>
      <div class="form-group col-md-3">
        <label for="price">Цена</label>
        <input #price="ngModel" [(ngModel)]="product.price" class="form-control" id="price"
               min="1" name="price" placeholder="Укажите стоимость товара" required type="number">
        <div [hidden]="!price.invalid || price.untouched" class="alert alert-danger">
          Нужно ввести цену
        </div>
      </div>
      <button [disabled]="!productForm.form.valid" class="btn btn-info" type="submit">
        Сохранить
      </button>
    </form>
  </div>
</div>
