<!--<div class="" <p>Все товары</p>-->

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Имя товара</th>
        <th scope="col">Цена</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products ">
        <td>{{ product.productId }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
<!--          <button type="button" (click)=""-->
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteProduct(product.productId)">Удалить</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
