<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center">
            <a href="{{urlGitHub}}" class="text-white py-3" target="_blank">{{ title }}</a>
          </h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a class="btn btn-info" routerLink="/products">Все Товары</a></li>
            <li class="list-inline-item">
              <a class="btn btn-info" routerLink="/products/edit/0">Добавить Товар</a></li>
            <li class="list-inline-item">
              <a class="btn btn-info" routerLink="/orders">Все заказы</a></li>
            <li class="list-inline-item">
              <a class="btn btn-info" routerLink="/orders/edit/0">Добавить заказ</a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
